{% extends 'base.html.twig' %}

{% block nav %}
    <div class="container-fluid">
        <div class="d-flex">
            <div class="p-2">
                <img class="d-none d-sm-none d-md-block" src="{{ asset('img/logo.png') }}" alt="" width="250px">
            </div>

            <div>
                <br>
                <h1 class="d-none d-md-block" style="font: 3.5rem 'Bauhaus 93'; color: red;">Training Centrum <br> Den
                    Haag</h1>
                <h1 class="d-sm-block d-md-none" style="font: 2.5rem 'Bauhaus 93'; color: red;">Training Centrum <br>
                    Den Haag</h1>
            </div>

            <br class="d-sm-block d-md-none">

            <div class="ml-auto text-danger" style="text-align: right; margin-top: 33px">
                <p>Welkom H. slot <br> - member - </p>
                <form>
                    <input class="btn btn-outline-danger" type="submit" value="uitloggen">
                </form>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bot border-top border-danger">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" style="text-decoration: underline">
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/home" {% if app.request.get('_route') == 'homepage' %} style="font-weight: bold" {% endif %}>Home</a>
                    </li>
                    <li class="nav-item text-danger">
                        <a class="nav-link text-danger"
                           href="/inschrijven" {% if app.request.get('_route') == 'inschrijven' %} style="font-weight: bold" {% endif %}>Inschijven
                            op les</a>
                    </li>
                    <li class="nav-item text-danger">
                        <a class="nav-link text-danger"
                           href="/overzicht_inschrijvingen" {% if app.request.get('_route') == 'overzicht_inschrijvingen' %} style="font-weight: bold" {% endif %}>Overzicht
                            inschrijvingen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="#" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>Gevens
                            lid wijzigen</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block header %}
    <div class="row mt-3">
        <div class="card-deck">
            <div class="card">
                <img src="{{ asset('img/kickboxen1.jpg') }}" class="card-img-top" alt="">
            </div>
            <div class="card">
                <img src="{{ asset('img/kickboxen2.jpg') }}" class="card-img-top" alt="">
            </div>
            <div class="card">
                <img src="{{ asset('img/kickboxen3.jpg') }}" class="card-img-top" alt="">
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}{% endblock %}

{% block footer %}
    <br>
    <footer class="container-fluid" style="background: #34495e">
        <br>
        <div class="row">
            <div class="col text-center">
                <h3 style="color: red">Training Centrum Den Haag 010 519 0532</h3>
                <br>
                <p style="color: white">development bij FastDevelopment</p>
            </div>
        </div>
    </footer>
{% endblock %}