{% extends 'base.html.twig' %}


{% block main %}
    <div class="d-none" style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=nl&q=Tinwerf%2016%2C%20denhaag%2C%20Netherlands+(Training%20Factory)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/nl/maak-een-google-map/">Maak een Google Map</a> van <a href="https://www.mapsdirections.info/nl/">Nederland Kaart</a></iframe></div><br />
    <div class="d-sm-block d-md-none" style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&height=600&hl=nl&q=Tinwerf%2016%2C%20denhaag%2C%20Netherlands+(Training%20Factory)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/nl/maak-een-google-map/">Maak een Google Map</a> van <a href="https://www.mapsdirections.info/nl/">Nederland Kaart</a></iframe></div><br />
    <div class="d-none d-md-block" style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=nl&q=Tinwerf%2016%2C%20denhaag%2C%20Netherlands+(Training%20Factory)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/nl/maak-een-google-map/">Maak een Google Map</a> van <a href="https://www.mapsdirections.info/nl/">Nederland Kaart</a></iframe></div><br />

    <h2>Telefoon:</h2>
    <p>010 519 0532</p>
    <br>
    <h2>Adres:</h2>
    <p>Tinwerf 16, 2544 ED Den Haag</p>
{% endblock %}
