{% extends 'bezoeker/h-i-f-component/h-i-f.html.twig' %}

{% block main %}
    <div class="container">
        <br>
        <h2 style="color: red;">Welkom bij Trainings Centrum Den Haag</h2>
        <br>
        <p>
            Den Haag Training Center is een sportschool waar onder professionele begeleiding in een veilige omgeving
            verschillende soorten martial arts-m indoor bootcamp, personal- en small group trainingen worden aangeboden.
            Hier kan je je inschrijven op een les of uitschrijven op een les.
        </p>
    </div>
{% endblock %}