{% extends 'bezoeker/h-i-f-component/h-i-f.html.twig' %}

{% block main %}
    <br>
    <h1 style="color: red">Overzicht inschrijven</h1>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Sport</th>
            <th>Aantal ingeschreven deelnemers</th>
            <th>Prijs (EUR)</th>
            <th>Uitschrijven</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>22-04-2017</td>
            <td>09:00</td>
            <td>MMA</td>
            <td>6</td>
            <td>14</td>
            <td>X</td>
        </tr>
        <tr>
            <td>22-04-2017</td>
            <td>09:00</td>
            <td>MMA</td>
            <td>6</td>
            <td>14</td>
            <td>X</td>
        </tr>
        <tr>
            <td>22-04-2017</td>
            <td>09:00</td>
            <td>MMA</td>
            <td>6</td>
            <td>14</td>
            <td>X</td>
        </tr>
        <tr>
            <td>22-04-2017</td>
            <td>09:00</td>
            <td>MMA</td>
            <td>6</td>
            <td>14</td>
            <td>X</td>
        </tr>
        </tbody>
    </table>
{% endblock %}