<div class="card-deck">
    <div class="card">
    <img src="{{ asset('images/home1.png') }}" class="rounded card-img" alt="...">

</div>
<div class="card d-none d-md-block">
    <img src="{{ asset('images/home2.png') }}" class="rounded card-img" alt="...">

</div>
<div class="card d-none d-lg-block">
    <img src="{{ asset('images/home3.png') }}" class="rounded card-img" alt="...">

</div>
</div>